@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Qwitcher+Grypen:wght@700&family=Roboto+Mono&display=swap');
/* for logo */
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@600&display=swap');



:root {
    --primary-color: #fb7185;
    --dark-grey: #64748b;
    --off-white: #f3f4f6;
    --purple: #9333ea;
}

body {
    font-family: 'Montserrat',
        sans-serif;
        margin: 0px;
}

hr {
    margin: 1rem 0rem;
}

/** container **/
.container {
    /* padding-left: 1rem;
    padding-right: 1rem; */
    padding: 2rem 0rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

/* book links */
.align-book {
    text-align: left;
    margin: 0px;
}

.link-book {
    font-family: 'Roboto Mono', monospace;    
    color: var(--purple);
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* look into BEM naming convention for CSS */

/* lists  */

.list-non-bullet {
    list-style-type: none;
}

.list-bullet {
    color: var(--primary-color);
    size: large;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* nav bar */

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 3rem;
    padding-right: 5rem;
    /* border-bottom-left-radius: 1rem; */
    font-size: medium;

}

/* .nav-item {
    padding-right: 50px;
} */

.navigation .logo {
    margin-right: auto;
    font-weight: bold;
} 

.navigation .nav-pills {
    list-style: none;
    display: flex;
    font-size: medium;
    }

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

/* header */

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-grey);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/* section */
.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

/* footer */

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}

.social-icon {
    color: #aaaaaa;
    transition: color 0.2s;
    text-decoration: none;
    font-size: 30px;
}
  
.social-icon:hover {
    color: #333333;
}

